html{box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

.grandeContainer {
	width: 1000px;
	margin: 0 auto;
	display: flex;
	justify-content: space-evenly;
}
#submit {
	margin: 5px;
}
.numInput {
	width: 360px;
	margin: 20px;
	padding: 5px;
}

.exp {
	width: 35px;
	height: 20px;
	margin-left: 5px;
}
.year {
	width: 50px;
}
p {
	margin: 0;
}
.expContainer {
	margin: 10px 10px 10px 50px;
	display: flex;
	width: 200px;
}
.user {
	width: 250px;
	margin-left: 20px;
}
span {
	font-weight: lighter;
}
h1 {
	padding-left: 30px;
}
#logo {
	max-width: 100px;
	max-height: 100px;
	float: right;
	position: absolute;
	bottom: 10px;
	right: 10px;
}
.front {
	background-image: url('./assets/bg.svg');
	background-size: cover;
}
.back {
	width: 400px;
	height: 250px;
}
.magStrip {
	width: 360px;
	padding: 20px;
	margin-top: 70px;
	margin-left: 20px;
	background: #888;
}

.security {
	width: 50px;
	float: right;
	height: 30px;
}
.signHere {
	width: 360px;
	height: 30px;
	background: #fff;
	margin-left: 20px;
	margin-top: 5px;
}